#request-button {
  font-size: medium;
}

.card-element {
  margin-top: 3%;
  margin-bottom: 3%;
}

.service-content-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 30% auto 20% 3%;
  grid-gap: 0;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

// Smartphones in portrait and landscape mode
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #request-button {
    font-size: smaller;
  }

  .service-content-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30% auto 15% 5%;
    grid-gap: 1%;
  }
}
