<mat-card class="card-element">
  <mat-card-content class="service-content-grid">
    <img class="ui fluid small image vertical-center" [src]="service.picture" alt="Image"
         (click)="routeToId()">
    <div (click)="routeToId()">
      <mat-card-title>{{service.title}}</mat-card-title>
      <mat-card-subtitle>{{service.description}}</mat-card-subtitle>
    </div>
    <div>
      <p>
        <ng-container *ngIf="user">
          <ng-container *ngIf="isFavorite(); else noFavorite">
            <mat-icon color="primary" (click)="removeFavorite()">favorite</mat-icon>
          </ng-container>
          <ng-template #noFavorite>
            <mat-icon color="primary" (click)="addFavorite()">favorite_border</mat-icon>
          </ng-template>
        </ng-container>
      </p>
      <p>{{service.owner.price}} €</p>
      <p>pro Minute</p>
      <p *ngIf="user && !isOwner()">
        <button mat-flat-button id="request-button" color="primary">Anfragen</button>
      </p>
    </div>
    <ng-container *ngIf="isOwner()">
      <section>
        <mat-menu #serviceMenu>
          <button mat-menu-item (click)="edit()">
            <mat-icon>build</mat-icon>
            bearbeiten
          </button>
          <button mat-menu-item (click)="delete()">
            <mat-icon>delete</mat-icon>
            löschen
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="serviceMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </section>
    </ng-container>
  </mat-card-content>
</mat-card>
