<mat-accordion>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="icon-space" color="primary">help</mat-icon>
        Hilfe
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p><a routerLink="faq" (click)="clickItem()" mat-list-item>FAQ</a></p>
    <p><a routerLink="data-protection" (click)="clickItem()" mat-list-item>Datenschutzerklärung</a></p>
    <p><a routerLink="imprint" (click)="clickItem()" mat-list-item>Impressum</a></p>
  </mat-expansion-panel>
</mat-accordion>
