<h2 class="home-headline">Kategorien</h2>
<div *ngIf="categories$ | async as categories" class="category-grid">
  <app-category-card *ngFor="let category of categories" [category]="category"
                     [routerLink]="['../', 'category', category.id]"></app-category-card>
</div>
<div *ngIf="services$ | async as services; else loading" class="service-list">
  <app-service-card *ngFor="let service of services" [service]="service" [user]="user$ | async"
                    (selectFavorite)="addFavorite($event)" (deSelectFavorite)="removeFavorite($event)"
                    (routeTo)="routeToService($event)"></app-service-card>
</div>
<ng-template #loading>
  <app-loading message="Daten werden geladen"></app-loading>
</ng-template>
