.category-grid {
  width: 80%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0;
}

.service-list {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.home-headline {
  text-align: center;
  margin-top: 2%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .category-grid {
    width: 90%;
    height: 35%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-gap: 0;
  }

  .service-list {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .category-grid {
    width: 90%;
    height: 35%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0;
  }

  .service-list {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
  }
}

/*# sourceMappingURL=home.component.css.map */
