<div *ngIf="service$ | async as service" class="service-container service-font" (swipe)="onSwipe($event)">
  <!-- Content container -->
  <div class="content-container">
    <h2 class="service-headline">{{service.title}}</h2>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab *ngIf="service.picture" label="Bild">
        <img class="center-content" [src]="service.picture" alt="Image">
      </mat-tab>
      <mat-tab *ngIf="service.video" label="Video">
        <youtube-player id="video-center" [videoId]="service.video" [width]="loadPlayerWidth()"
                        [height]="loadPlayerHeight()"></youtube-player>
      </mat-tab>
    </mat-tab-group>
    <p id="service-description">{{service.description}}</p>
  </div>
  <!-- Information about the consultant -->
  <div class="consultant-container">
    <app-owner-card [service]="service" [user]="user$ | async" (selectFavorite)="addFavorite($event)"
                    (deSelectFavorite)="removeFavorite($event)"></app-owner-card>
  </div>
</div>
