#service-description {
  margin-top: 5%;
}

.service-container {
  width: 80%;
  height: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 5%;
  margin-bottom: 7%;
}

.service-headline {
  text-align: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.consultant-container {
  margin-top: 30%;
}

.content-container {
  width: 100%;
  height: auto;
  overflow: auto;
  display: block;
}

.center-content {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#video-center {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service-font {
  font-size: medium;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .service-container {
    width: 90%;
    height: auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .service-font {
    font-size: large;
  }

  .consultant-container {
    width: 60%;
    height: auto;
    overflow: auto;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  #video-center {
    width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) and (min-width: 320px) and (max-width: 767px) {
  .consultant-container {
    width: 90%;
    height: auto;
    overflow: auto;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  #video-center {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=service.component.css.map */
