<mat-card>
  <mat-card-title>Registrieren</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="registrate()">
      <mat-form-field>
        <mat-label>E-Mail Adresse</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-icon matPrefix color="primary">email</mat-icon>
      </mat-form-field>
      <app-form-error-messages [control]="registerForm.get('email')" controlName="email"></app-form-error-messages>
      <mat-form-field>
        <mat-label>Vorname</mat-label>
        <input matInput type="text" formControlName="forename">
      </mat-form-field>
      <app-form-error-messages [control]="registerForm.get('forename')" controlName="forename"></app-form-error-messages>
      <mat-form-field>
        <mat-label>Nachname</mat-label>
        <input matInput type="text" formControlName="lastname">
      </mat-form-field>
      <app-form-error-messages [control]="registerForm.get('lastname')" controlName="lastname"></app-form-error-messages>
      <div formGroupName="passwords" id="passwords-block">
        <mat-form-field>
          <mat-label>Passwort</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matPrefix color="primary">lock</mat-icon>
        </mat-form-field>
        <app-form-error-messages [control]="registerForm.get('passwords').get('password')" controlName="password"></app-form-error-messages>
        <mat-form-field>
          <mat-label>Passwort wiederholen</mat-label>
          <input matInput type="password" formControlName="passwordRepeat">
          <mat-icon matPrefix color="primary">lock</mat-icon>
        </mat-form-field>
        <app-form-error-messages [control]="registerForm.get('passwords')" controlName="passwords"></app-form-error-messages>
      </div>
      <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">Registrieren</button>
    </form>
  </mat-card-content>
</mat-card>
