mat-card {
  width: 60%;
  height: auto;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: auto 30%;
  grid-gap: 0;
}

#passwords-block {
  grid-column: 1 / 3;
  width: 100%;
  display: grid;
  grid-template-columns: auto 30%;
  grid-gap: 0;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  mat-card {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
