.center-headline {
  margin: auto;
}

.icon-space {
  margin-right: 2%;
}

.headline {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: medium;
  top: 50%;
}

.separator-space {
  margin-top: 2%;
  margin-bottom: 2%;
}

.my-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
