<div style="height: 100vh;">
  <mat-toolbar color="primary" class="my-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="center-headline">eHealth Consultant Service</span>
      <mat-menu #settings>
        <button mat-menu-item (click)="setTheme(0)">Light Theme</button>
        <button mat-menu-item (click)="setTheme(1)">Dark Theme</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="settings">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container fxFlexFill>
    <mat-drawer mode="over" #sidenav>
      <mat-nav-list style="overflow: auto">
        <div *ngIf="user$ | async as user">
          <mat-card [class.mat-elevation-z0]="true">
            <ng-container *ngIf="user.picture; else standard">
              <mat-card-header>
                <img mat-card-avatar [src]="user.picture" alt="Image">
                <mat-card-title>Hi, {{user.forename}}</mat-card-title>
              </mat-card-header>
            </ng-container>
            <ng-template #standard>
              <mat-card-header>
                <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Image">
                <mat-card-title>Hi, {{user.forename}}</mat-card-title>
              </mat-card-header>
            </ng-template>
          </mat-card>
          <mat-divider class="separator-space"></mat-divider>
        </div>
        <app-dashboard-navigation [user]="user$ | async" (itemClicked)="sidenav.toggle()"></app-dashboard-navigation>
        <app-user-navigation [user]="user$ | async" (itemClicked)="sidenav.toggle()"></app-user-navigation>
        <app-help-navigation (itemClicked)="sidenav.toggle()"></app-help-navigation>
        <ng-container *ngIf="user$ | async as user">
          <a routerLink="dashboard" routerLinkActive="active" (click)="logout()" mat-list-item>
            <mat-icon class="icon-space" color="primary">logout</mat-icon>
            Ausloggen
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content fxFlexFill><router-outlet></router-outlet></mat-drawer-content>
  </mat-drawer-container>
</div>
