.card-properties {
  width: 100%;
  min-height: 50%;
  max-height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category-content-grid {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 0;
}

.sub-category-wrap  {
  white-space: normal;
}
