<mat-card class="card-properties" [class.mat-elevation-z0]="true">
  <mat-card-title>{{category.name}}</mat-card-title>
  <mat-card-content class="category-content-grid">
    <!--<img mat-card-sm-image> to do: category must have an icon or image -->
    <mat-icon>home</mat-icon> <!-- just for testing purposes -->
    <mat-card-subtitle class="sub-category-wrap">
      <a *ngFor="let sub of category.subCategories" [routerLink]="['../', 'subCategory', sub.id]">
        {{sub.name}},
      </a>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
