<h1 mat-dialog-title>Erstellen Sie eine neue Unterkategorie</h1>
<div style="text-align: center">
  <form [formGroup]="subCategoryForm" (ngSubmit)="submitSubCategory()">
    <mat-form-field>
      <mat-label>Name der neuen Unterkategorie</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-flat-button color="primary" type="submit" [disabled]="subCategoryForm.invalid">Speichern</button>
      <button mat-flat-button color="warn" type="button" mat-dialog-close="">Abbrechen</button>
    </mat-dialog-actions>
  </form>
</div>
