<h1 style="text-align: center">Bearbeiten Sie Ihren eigene Dienstleistung</h1>
<div>
  <form id="service-container" [formGroup]="editForm" (ngSubmit)="submitService()">
    <mat-form-field>
      <mat-label>Titel Ihrer Dienstleistung</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <span></span>
    <section><mat-icon color="accent" (click)="openInfoDialog('service-title')">help_outline</mat-icon></section>
    <mat-form-field>
      <mat-label>Beschreiben Sie Ihre Dienstlung</mat-label>
      <textarea matInput placeholder="Ich kann Ihnen dabei helfen..." formControlName="description"></textarea>
    </mat-form-field>
    <span></span>
    <section><mat-icon color="accent" (click)="openInfoDialog('service-description')">help_outline</mat-icon></section>
    <div>
      <mat-label>Unterschreichen Sie Ihre Dienstleistung mit einem Bild</mat-label>
      <br>
      <input style="display: none" type="file" accept="image/jpeg, image/png" (change)="onFileChanged($event)" #fileInput>
      <br>
      <ng-container *ngIf="loadImage; else notLoading">
        <mat-spinner color="primary"></mat-spinner>
      </ng-container>
      <ng-template #notLoading>
        <img *ngIf="selectedFile" id="service-image" [src]="selectedFile" alt="Image">
        <button mat-fab id="photo-button" color="accent" type="button" (click)="fileInput.click()">
          <mat-icon>add_a_photo</mat-icon>
        </button>
      </ng-template>
    </div>
    <span></span>
    <section><mat-icon color="accent" (click)="openInfoDialog('service-photo')">help_outline</mat-icon></section>
    <mat-form-field>
      <mat-label>Fügen Sie ein YouTube-Video ein</mat-label>
      <input matInput type="url" formControlName="video">
    </mat-form-field>
    <span></span>
    <section><mat-icon color="accent" (click)="openInfoDialog('service-video')">help_outline</mat-icon></section>
    <mat-form-field appearance="standard" *ngIf="categories$ | async as categories">
      <mat-label>Kategorie</mat-label>
      <mat-select (selectionChange)="selectedCategory = $event.value" [value]="selectedCategory">
        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button class="break-words" color="primary" type="button" (click)="createCategory()">Neue Kategorie erstellen</button>
    <section><mat-icon color="accent" (click)="openInfoDialog('service-category')">help_outline</mat-icon></section>
    <ng-container *ngIf="categories$ | async as categories">
      <ng-container *ngFor="let category of categories">
        <ng-container *ngIf="category.id === selectedCategory">
          <mat-form-field>
            <mat-label>Unterkategorie</mat-label>
            <mat-select formControlName="subCategoryId">
              <mat-option *ngFor="let subCategory of category.subCategories" [value]="subCategory.id">
                {{subCategory.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-flat-button class="break-words" color="primary" type="button" (click)="createSubCategory()">
            Neue Unterkategorie erstellen
          </button>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!selectedCategory"><span></span><span></span></ng-container>
    <section><mat-icon color="accent" (click)="openInfoDialog('service-subcategory')">help_outline</mat-icon></section>
    <mat-action-row class="center-content" id="action-button">
      <button mat-flat-button color="primary" type="submit" [disabled]="editForm.invalid">
        <mat-icon>save</mat-icon>
        Speichern
      </button>
      <button mat-flat-button color="warn" type="button" routerLink="../../my-services">Abbrechen</button>
    </mat-action-row>
  </form>
</div>
