#service-container {
  width: 80%;
  margin: auto auto auto auto;
  display: grid;
  grid-template-columns: auto min-content 10%;
  grid-gap: 5%;
}

#photo-button {
  margin-left: 4em;
}

#action-button {
  margin-bottom: 10%;
}

#service-image {
  max-width: 60%;
}

.center-content {
  margin-left: auto;
  margin-right: auto;
}

.break-words {
  white-space: nowrap;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #action-button {
    margin-bottom: 20%;
  }

  .break-words {
    white-space: normal;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #service-container {
    width: 95%;
    display: grid;
    grid-template-columns: auto 35% 5%;
    grid-gap: 1%;
  }

  #photo-button {
    margin-left: 1em;
  }

  #action-button {
    margin-bottom: 20%;
    width: 100%;
    display: block;
  }

  .break-words {
    white-space: normal;
  }
}

/*# sourceMappingURL=create-service.component.css.map */
