.service-list {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.bottom-space {
  margin-bottom: 10%;
}

// Smartphone and Tablets in portrait and landscape mode
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .bottom-space {
    margin-bottom: 20%;
  }
}
