<ng-container *ngIf="user$ | async as user">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Dienstleistungen">
      <div class="service-list bottom-space">
        <ng-container *ngIf="!user.favoriteServices">
          <app-loading message="Favoriten werden geladen"></app-loading>
        </ng-container>
        <app-service-card *ngFor="let service of user.favoriteServices" [service]="service" [user]="user"
                          (deSelectFavorite)="removeFavorite($event)" (routeTo)="routeToService($event)"></app-service-card>
      </div>
    </mat-tab>
    <mat-tab label="Berater">
      <h2>Hier werden die favorisierten Berater aufgelistet</h2>
    </mat-tab>
  </mat-tab-group>
</ng-container>
