@import '~@angular/material/theming';

$mat-pallete-01-green-primary: (
  50 : #e0efed,
  100 : #b3d7d3,
  200 : #80bcb5,
  300 : #4da197,
  400 : #268d81,
  500 : #00796b,
  600 : #007163,
  700 : #006658,
  800 : #005c4e,
  900 : #00493c,
  A100 : #7dffe1,
  A200 : #4affd6,
  A400 : #17ffca,
  A700 : #00fcc3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-01-lime-accent: (
  50 : #f5f6e6,
  100 : #e7e9bf,
  200 : #d7da95,
  300 : #c7cb6b,
  400 : #bbbf4b,
  500 : #afb42b,
  600 : #a8ad26,
  700 : #9fa420,
  800 : #969c1a,
  900 : #868c10,
  A100 : #fbffbe,
  A200 : #f8ff8b,
  A400 : #f5ff58,
  A700 : #f4ff3f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-02-purple-primary: (
  50 : #f7edf8,
  100 : #ead2ef,
  200 : #ddb4e4,
  300 : #cf95d9,
  400 : #c47fd0,
  500 : #ba68c8,
  600 : #b360c2,
  700 : #ab55bb,
  800 : #a34bb4,
  900 : #943aa7,
  A100 : #fdf5ff,
  A200 : #f4c2ff,
  A400 : #ea8fff,
  A700 : #e675ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-02-light-green-accent: (
  50 : #fcfdf3,
  100 : #f8fae1,
  200 : #f3f7ce,
  300 : #eef3ba,
  400 : #eaf1ab,
  500 : #e6ee9c,
  600 : #e3ec94,
  700 : #dfe98a,
  800 : #dbe780,
  900 : #d5e26e,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fefff4,
  A700 : #fbffda,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-03-blue-gray-primary: (
  50 : #eff2f3,
  100 : #d7dee1,
  200 : #bcc8ce,
  300 : #a1b1ba,
  400 : #8ca1ab,
  500 : #78909c,
  600 : #708894,
  700 : #657d8a,
  800 : #5b7380,
  900 : #48616e,
  A100 : #cdedff,
  A200 : #9adbff,
  A400 : #67c8ff,
  A700 : #4dbfff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-03-light-amber-accent: (
  50 : #fffef3,
  100 : #fffce2,
  200 : #ffface,
  300 : #fff8ba,
  400 : #fff7ac,
  500 : #fff59d,
  600 : #fff495,
  700 : #fff28b,
  800 : #fff081,
  900 : #ffee6f,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fffef7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-04-green-primary: (
  50 : #e0eae8,
  100 : #b3cac6,
  200 : #80a6a0,
  300 : #4d8279,
  400 : #26685d,
  500 : #004d40,
  600 : #00463a,
  700 : #003d32,
  800 : #00342a,
  900 : #00251c,
  A100 : #60ffcf,
  A200 : #2dffbf,
  A400 : #00f9ad,
  A700 : #00e09c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-04-gray-accent: (
  50 : #f9fafb,
  100 : #f1f3f5,
  200 : #e7ecee,
  300 : #dde4e7,
  400 : #d6dee1,
  500 : #cfd8dc,
  600 : #cad4d8,
  700 : #c3ced3,
  800 : #bdc8ce,
  900 : #b2bfc5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fcfeff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-05-pink-primary: (
  50 : #fce4ec,
  100 : #f8bcd0,
  200 : #f48fb1,
  300 : #f06292,
  400 : #ec407a,
  500 : #e91e63,
  600 : #e61a5b,
  700 : #e31651,
  800 : #df1247,
  900 : #d90a35,
  A100 : #ffffff,
  A200 : #ffd0d8,
  A400 : #ff9dae,
  A700 : #ff8498,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-05-teal-accent: (
  50 : #e0f2f1,
  100 : #b3e0db,
  200 : #80cbc4,
  300 : #4db6ac,
  400 : #26a69a,
  500 : #009688,
  600 : #008e80,
  700 : #008375,
  800 : #00796b,
  900 : #006858,
  A100 : #97ffec,
  A200 : #64ffe3,
  A400 : #31ffda,
  A700 : #18ffd5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-06-teal-primary: (
  50 : #e0f2f1,
  100 : #b3e0db,
  200 : #80cbc4,
  300 : #4db6ac,
  400 : #26a69a,
  500 : #009688,
  600 : #008e80,
  700 : #008375,
  800 : #00796b,
  900 : #006858,
  A100 : #97ffec,
  A200 : #64ffe3,
  A400 : #31ffda,
  A700 : #18ffd5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-pallete-06-amber-accent: (
  50 : #fff8e1,
  100 : #ffecb5,
  200 : #ffe083,
  300 : #ffd451,
  400 : #ffca2c,
  500 : #ffc107,
  600 : #ffbb06,
  700 : #ffb305,
  800 : #ffab04,
  900 : #ff9e02,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe4bf,
  A700 : #ffd9a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

