.swipe-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.settings-dimension {
  width: 100%;
  height: auto;
  overflow: auto;
  margin-top: 5%;
}

.settings-container {
  display: grid;
  grid-template-columns: auto 30% 10%;
  grid-gap: 0;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .settings-container {
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-gap: 0;
  }
}

/*# sourceMappingURL=setting.component.css.map */
