<div class="swipe-content" (swipe)="onSwipe($event)">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Basis">
      <mat-card (swipe)="onSwipe()">
        <mat-card-title style="text-align: center; margin-bottom: 5%">
          Minimale Einstellungen für BenutzerInnen
        </mat-card-title>
        <mat-card-content>
          <form class="settings-dimension settings-container" [formGroup]="basicSettingsForm"
                (ngSubmit)="submitBasicSettings()" (swipe)="onSwipe()">
            <mat-form-field>
              <mat-label>E-Mail</mat-label>
              <mat-icon matPrefix color="primary">email</mat-icon>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
            <app-form-error-messages [control]="basicSettingsForm.get('email')" controlName="email">
            </app-form-error-messages>
            <section><mat-icon color="accent" (click)="openInfoDialog('settings-email')">help_outline</mat-icon></section>
            <mat-form-field>
              <mat-label>Vorname</mat-label>
              <input matInput type="text" formControlName="forename">
            </mat-form-field>
            <app-form-error-messages [control]="basicSettingsForm.get('forename')" controlName="forename">
            </app-form-error-messages>
            <section><mat-icon color="accent" (click)="openInfoDialog('settings-forename')">help_outline</mat-icon></section>
            <mat-form-field>
              <mat-label>Nachname</mat-label>
              <input matInput type="text" formControlName="lastname">
            </mat-form-field>
            <app-form-error-messages [control]="basicSettingsForm.get('lastname')" controlName="lastname">
            </app-form-error-messages>
            <section><mat-icon color="accent" (click)="openInfoDialog('settings-lastname')">help_outline</mat-icon></section>
            <mat-card-actions>
              <button mat-flat-button color="primary" type="submit" [disabled]="basicSettingsForm.invalid">
                <mat-icon matPrefix color="primary">save_alt</mat-icon>
                Speichern
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Erweitert">
      <ng-container *ngIf="isCustomer; else consultant">
        <app-customer-settings [extendedForm]="extendedSettingsForm" [profileImage]="profileImage" [loading]="loadImage"
                               (setConsultant)="isCustomer = $event" (submitForm)="submitExtendedSettings($event)"
                               (setImage)="readFile($event)" (swipeCard)="onSwipe()" (info)="openInfoDialog($event)">
        </app-customer-settings>
      </ng-container>
      <ng-template #consultant>
        <app-consultant-settings [extendedForm]="extendedSettingsForm" [profileImage]="profileImage" [loading]="loadImage"
                                 (submitForm)="submitExtendedSettings($event)" (setImage)="readFile($event)"
                                 (swipeCard)="onSwipe()" (info)="openInfoDialog($event)">
        </app-consultant-settings>
      </ng-template>
    </mat-tab>
    <mat-tab label="Passwort ändern">
      <mat-card (swipe)="onSwipe()">
        <mat-card-title>Passwort ändern</mat-card-title>
        <mat-card-content>
          <form [formGroup]="passwordForm" (ngSubmit)="submitPasswordSettings()">
            <div formGroupName="passwords">
              <mat-form-field>
                <mat-label>Neues Passwort</mat-label>
                <mat-icon matPrefix color="primary">lock</mat-icon>
                <input matInput type="password" formControlName="password">
                <app-form-error-messages [control]="passwordForm.get('passwords').get('password')"
                                         controlName="password"></app-form-error-messages>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Neues Passwort wiederholen</mat-label>
                <mat-icon matPrefix color="primary">lock</mat-icon>
                <input matInput type="password" formControlName="passwordRepeat">
                <app-form-error-messages [control]="passwordForm.get('passwords')" controlName="passwords">
                </app-form-error-messages>
              </mat-form-field>
              <br>
            </div>
            <mat-card-actions>
              <button mat-flat-button color="primary" type="submit" [disabled]="passwordForm.invalid">
                Speichern
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
