<mat-card *ngIf="category$ | async as category" [class.mat-elevation-z0]="true" class="card-margin">
  <h1 class="category-headline">{{category.name}}</h1>
  <mat-card-subtitle class="sub-category-grid">
    <a *ngFor="let sub of category.subCategories" [routerLink]="['../../', 'subCategory', sub.id]">
      {{sub.name}}
    </a>
    <!-- <app-sub-category-card *ngFor="let sub of category.subCategories" [subCategory]="sub"
                           [routerLink]="['../../', 'subCategory', sub.id]"></app-sub-category-card> -->
  </mat-card-subtitle>
  <mat-card-content *ngIf="services$ | async as services" class="content-card">
    <app-service-card *ngFor="let service of services" [service]="service" [user]="user$ | async"
                      (selectFavorite)="addFavorite($event)" (deSelectFavorite)="removeFavorite($event)"
                      (routeTo)="routeToService($event)"></app-service-card>
  </mat-card-content>
</mat-card>
