.card-margin {
  margin-top: 2%;
  margin-bottom: 5%;
}

.category-headline {
  text-align: center;
}

.sub-category-grid {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0;
}

.content-card {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=category.component.css.map */
