<h1 style="text-align: center">Meine Dienstleistungen</h1>
 <div *ngIf="user$ | async as user;" class="service-container bottom-space">
   <ng-container *ngIf="!user.services">
     <app-loading message="Ihre Dienstleistungen werden geladen"></app-loading>
   </ng-container>
  <app-service-card *ngFor="let service of user.services" [service]="service" [user]="user"
                    (editService)="editService($event)" (deleteService)="deleteService($event)"
                    (routeTo)="routeToService($event)"></app-service-card>
</div>

