<mat-card (swipe)="onSwipe()">
  <mat-card-title style="text-align: center; margin-bottom: 5%">
    Erweiterte Einstellungen für BeraterInnen
  </mat-card-title>
  <mat-card-content style="margin-bottom: 10%">
    <div class="consultant-dimension consultant-container">
      <div class="profile-container" (click)="fileInput.click()">
        <mat-label>Ihr Profilbild</mat-label>
        <ng-container *ngIf="loading; else notLoading">
          <mat-spinner diameter="40" color="primary"></mat-spinner>
        </ng-container>
        <ng-template #notLoading>
          <ng-container *ngIf="profileImage; else standard">
            <img mat-card-avatar [src]="profileImage" alt="Image">
          </ng-container>
          <ng-template #standard>
            <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Image">
          </ng-template>
        </ng-template>
        <input style="display: none" type="file" accept="image/jpeg" (change)="onFileChanged($event)" #fileInput>
      </div>
      <span></span>
      <section><mat-icon color="accent" (click)="onInfoClicked('settings-photo')">help_outline</mat-icon></section>
    </div>
    <form class="consultant-dimension consultant-container" [formGroup]="extendedForm" (ngSubmit)="submitExtendedSettings()">
      <mat-form-field>
        <mat-label>Basispreis</mat-label>
        <mat-icon matPrefix color="primary">attach_money</mat-icon>
        <input matInput type="number" placeholder="1.65" formControlName="price">
      </mat-form-field>
      <span></span>
      <section><mat-icon color="accent" (click)="onInfoClicked('settings-price')">help_outline</mat-icon></section>
      <mat-form-field>
        <mat-label>Telefonnummer</mat-label>
        <mat-icon matPrefix color="primary">phone</mat-icon>
        <input matInput type="tel" placeholder="030123456789" formControlName="phoneNumber">
      </mat-form-field>
      <span></span>
      <section><mat-icon color="accent" (click)="onInfoClicked('settings-phoneNumber')">help_outline</mat-icon></section>
      <mat-form-field>
        <mat-label>Beschreibung zu Ihnen</mat-label>
        <mat-icon matPrefix color="primary">description</mat-icon>
        <textarea matInput placeholder="Ich habe langejährige Erfahrungen ..." formControlName="description">
            </textarea>
      </mat-form-field>
      <span></span>
      <section><mat-icon color="accent" (click)="onInfoClicked('settings-description')">help_outline</mat-icon></section>
      <mat-card-actions>
        <button mat-flat-button color="primary" type="submit" [disabled]="extendedForm.invalid">
          Speichern
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
