.consultant-dimension {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.consultant-container {
  display: grid;
  grid-template-columns: 50% 1% 10%;
  grid-gap: 5%;
  margin-bottom: 1%;
}

.profile-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .consultant-dimension {
    width: 100%;
    height: auto;
  }

  .consultant-container {
    display: grid;
    grid-template-columns: 60% 20% 10%;
    grid-gap: 5%;
    margin-bottom: 5%;
  }
}
