<div id="faq-container" *ngIf="faq$ | async as faq">
  <h1 style="text-align: center">Häufig gestellte Fragen</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let question of faq" class="question-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>{{question.questionTitle}}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card [class.mat-elevation-z0]="true">
        <mat-card-title>{{question.answerTitle}}</mat-card-title>
        <mat-card-content><p>{{question.answerText}}</p></mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>
