#faq-container {
  width: 70%;
  height: auto;
  overflow: auto;
  margin: 5% auto 10%;
}

.question-panel {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #faq-container {
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 5% auto 10%;
  }

  .question-panel {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

/*# sourceMappingURL=faq.component.css.map */
