<!-- <div [ngClass]="{'dark-theme': currentTheme$ | async}" class="no-wrap"> -->
<div [ngClass]="{'theme-alternate': currentTheme$ | async}" class="no-wrap">
  <div class="mat-app-background">
    <app-main-navigation></app-main-navigation>
  </div>
</div>
