.icon-space {
  margin-right: 2%;
}

.headline {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  text-align: center;
  font-size: large;
}

.separator-space {
  margin-top: 2%;
  margin-bottom: 2%;
}
