<ng-container *ngIf="user; else loggedOut">
  <mat-divider class="separator-space"></mat-divider>
  <p class="headline">Mein Konto</p>
  <a routerLink="settings" (click)="clickItem()" mat-list-item>
    <mat-icon class="icon-space" color="primary" matListIcon>settings</mat-icon>
    Einstellungen
  </a>
  <a routerLink="my-favorites" (click)="clickItem()" mat-list-item>
    <mat-icon class="icon-space" color="primary" matListIcon>favorite</mat-icon>
    Favoriten
  </a>
  <a *ngIf="user.role !== 'USER'" routerLink="my-services" (click)="clickItem()" mat-list-item>
    <mat-icon class="icon-space" color="primary" matListIcon>design_services</mat-icon>
    Meine Dienstleistungen
  </a>
  <mat-divider class="separator-space"></mat-divider>
</ng-container>
<ng-template #loggedOut>
  <a routerLink="login" (click)="clickItem()" mat-list-item>
    <mat-icon class="icon-space" color="primary" matListIcon>login</mat-icon>
    Einloggen
  </a>
  <a routerLink="registrate" (click)="clickItem()" mat-list-item>
    <mat-icon class="icon-space" color="primary" matListIcon>fact_check</mat-icon>
    Registrieren
  </a>
</ng-template>
