<a routerLink="dashboard" (click)="clickItem()" mat-list-item>
  <mat-icon class="icon-space" color="primary" matListIcon>ballot</mat-icon>
  Dashboard
</a>
<ng-container *ngIf="user">
  <a *ngIf="user.role !== 'USER'" routerLink="create-service" (click)="clickItem()" mat-list-item>
    <mat-icon class="icon-space" color="primary" matListIcon>create</mat-icon>
    Dienstleistung erstellen
  </a>
</ng-container>
