<p class="owner-font-size">{{service.owner.price}} €</p>
<p class="owner-font-size">pro Minute</p>
<ng-container *ngIf="user">
  <button *ngIf="!isOwner()" mat-flat-button color="primary" type="button">Anfragen</button>
  <br>
  <ng-container *ngIf="isFavorite(); else noFavorite">
    <button mat-stroked-button color="primary" type="button" (click)="removeFavorite()">
      <mat-icon color="primary">favorite</mat-icon>
      Dienstleistungs-Favorit entfernen
    </button>
  </ng-container>
  <ng-template #noFavorite>
    <button mat-stroked-button color="primary" type="button" (click)="addFavorite()">
      <mat-icon color="primary">favorite_border</mat-icon>
      Dienstleistung favorisieren
    </button>
  </ng-template>
  <br>
</ng-container>
<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="service.owner.picture" alt="Image">
    <mat-card-title>{{service.owner.forename}} {{service.owner.lastname}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="owner-font-size content-gap"><p>{{service.owner.description}}</p></mat-card-content>
</mat-card>
