.owner-font-size {
  font-size: medium;
}

.content-gap {
  margin-top: 5%;
}

// Tablets in portrait and landscape mode
@media only screen and (min-width: 768px) and (max-height: 1024px) {
  .owner-font-size {
    font-size: large;
  }
}
