.owner-font-size {
  font-size: medium;
}

.content-gap {
  margin-top: 5%;
}

@media only screen and (min-width: 768px) and (max-height: 1024px) {
  .owner-font-size {
    font-size: large;
  }
}

/*# sourceMappingURL=owner-card.component.css.map */
