<mat-card>
  <ng-container *ngIf="isLoading; else showLogin">
    <app-loading message="Daten werden überprüft"></app-loading>
  </ng-container>
  <ng-template #showLogin>
    <mat-card-title>Anmeldung</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <mat-label>E-Mail Adresse</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-icon matPrefix color="primary">email</mat-icon>
        </mat-form-field>
        <app-form-error-messages [control]="loginForm.get('email')" controlName="email"></app-form-error-messages>
        <mat-form-field>
          <mat-label>Passwort</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matPrefix color="primary">lock</mat-icon>
        </mat-form-field>
        <app-form-error-messages [control]="loginForm.get('password')" controlName="password"></app-form-error-messages>
        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">Anmelden</button>
        <br>
        <p id="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
      </form>
      <div id="registration-container">
        <label>Noch nicht registriert? <a routerLink="../registrate">Hier registrieren</a> </label>
      </div>
    </mat-card-content>
  </ng-template>
</mat-card>
