.loading-screen {
  width: fit-content;
  height: auto;
  margin: auto auto auto auto;
}

mat-spinner {
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=loading.component.css.map */
